doctype 5
html
  head
    title Monster
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .content
      block content
    block scripts
      script(src="/js/jquery-1.7.1.min.js")
